<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Empleados</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; navbar &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">-->
<!--    <div class="container-fluid">-->

<!--        &lt;!&ndash; Logo + título &ndash;&gt;-->
<!--        <a class="navbar-brand d-flex align-items-center gap-2" href="#">-->
<!--            <img th:src="@{/images/icono.ico}" width="40" height="40" class="rounded">-->
<!--            <span class="fw-semibold">Sistema de empleados</span>-->
<!--        </a>-->

<!--        &lt;!&ndash; Botón responsive &ndash;&gt;-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"-->
<!--                data-bs-target="#navbarNav">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        &lt;!&ndash; Contenido derecho &ndash;&gt;-->
<!--        <div class="collapse navbar-collapse" id="navbarNav">-->
<!--            <div class="ms-auto d-flex align-items-center gap-3">-->

<!--                &lt;!&ndash; Usuario &ndash;&gt;-->
<!--                <span class="text-light small">-->
<!--                    👤 <span th:text="${username}"></span>-->
<!--                </span>-->

<!--                &lt;!&ndash; Logout &ndash;&gt;-->
<!--                <form th:action="@{/logout}" method="post" class="m-0">-->
<!--                    <button type="submit" class="btn btn-outline-light btn-sm">-->
<!--                        Cerrar sesión-->
<!--                    </button>-->
<!--                </form>-->

<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</nav>-->
<!--<br>-->
<!--<h4 class="text-center y-2" >Sistema de busqueda de empleados</h4>-->
<!--<hr>-->
<!--&lt;!&ndash; formulario &ndash;&gt;-->
<!--<form method="get" class="row g-2 mb-3" th:action="@{/employee/buscar}">-->

<!--    &lt;!&ndash; N° de empleado &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">N° empleado</label>-->
<!--        <input type="number" name="empNo" class="form-control" th:value="${empNo}">-->
<!--    </div>-->

<!--    &lt;!&ndash; nombre del empleado &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Nombre</label>-->
<!--        <input type="text" name="firstName" class="form-control" th:value="${firstName}">-->
<!--    </div>-->

<!--    &lt;!&ndash; apellido del empleado &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Apellido</label>-->
<!--        <input type="text" name="lastName" class="form-control" th:value="${lastName}">-->
<!--    </div>-->

<!--    &lt;!&ndash; genero &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label" >Género</label>-->
<!--        <select name="gender" class="form-select">-->
<!--            <option value=""  th:selected="${gender == null || gender == ''}" >Todos</option>-->
<!--            <option value="M" th:selected="${gender == 'M'}">Masculino</option>-->
<!--            <option value="F" th:selected="${gender == 'F'}">Femenino</option>-->
<!--        </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; departamento &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Departamento</label>-->
<!--        <input type="text" th:value="${deptNo}" name="deptNo" class="form-control">-->
<!--    </div>-->

<!--    &lt;!&ndash; fecha de contratacion &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Contratacion (fecha)</label>-->
<!--        <input type="date" th:value="${hireDate}" name="hireDate" class="form-control">-->
<!--    </div>-->

<!--    &lt;!&ndash; fecha de nacimiento&ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Cumpleaños</label>-->
<!--        <input type="date" th:value="${birthDate}" name="birthDate" class="form-control">-->
<!--    </div>-->

<!--    &lt;!&ndash; from de desde &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Desde</label>-->
<!--        <input type="date" th:value="${fromDate}" name="fromDate" class="form-control">-->
<!--    </div>-->

<!--    &lt;!&ndash; actualidad &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Actualidad</label>-->
<!--        <input type="date" th:value="${toDate}" name="toDate" class="form-control">-->
<!--    </div>-->

<!--    &lt;!&ndash; paginacion &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Página</label>-->
<!--        <input type="number" name="page" th:value="${page}" class="form-control" min="0">-->
<!--    </div>-->

<!--    &lt;!&ndash; tamaño &ndash;&gt;-->
<!--    <div class="col-12 col-md-3">-->
<!--        <label class="form-label">Tamaño</label>-->
<!--        <input type="number" name="size" th:value="${size}" class="form-control" max="100">-->
<!--    </div>-->


<!--    &lt;!&ndash; botones &ndash;&gt;-->

<!--    <div class="col-12 d-flex gap-2 mt-2">-->
<!--        <button type="submit" class="btn btn-primary" >Buscar Empleado</button>-->
<!--        <a th:href="@{/employee/inicio}" class="btn btn-outline-secondary">Limpiar Busqueda</a>-->
<!--        <a th:href="@{/employee/nuevo}" class="btn btn-outline-success">Crear Nuevo</a>-->
<!--    </div>-->
<!--</form>-->

<!--<div class="alert alert-danger" th:if="${error}" th:text="${error}" ></div>-->

<!--<div th:if="${results != null}">-->
<!--    <div class="d-flex justify-content-between align-items-center mb-2">-->
<!--        <div class="text-muted small">-->
<!--            Total <span th:text="${results.totalElements}" ></span>-->
<!--            Pagina <span th:text="${results.number + 1}" ></span>-->
<!--            de <span th:text="${results.totalPages}"></span>-->
<!--        </div>-->

<!--        <div class="d-flex gap-2">-->

<!--            &lt;!&ndash; anterior &ndash;&gt;-->
<!--            <form method="get" th:action="@{/employee/buscar}" class="m-0">-->
<!--                <input type="hidden" name="empNo"      th:value="${empNo}">-->
<!--                <input type="hidden" name="birthDate"  th:value="${birthDate}">-->
<!--                <input type="hidden" name="firstName"  th:value="${firstName}">-->
<!--                <input type="hidden" name="lastName"   th:value="${lastName}">-->
<!--                <input type="hidden" name="gender"     th:value="${gender}">-->
<!--                <input type="hidden" name="hireDate"   th:value="${hireDate}">-->
<!--                <input type="hidden" name="deptNo"     th:value="${deptNo}">-->
<!--                <input type="hidden" name="fromDate"   th:value="${fromDate}">-->
<!--                <input type="hidden" name="toDate"     th:value="${toDate}">-->
<!--                <input type="hidden" name="size"       th:value="${size}">-->
<!--                <input type="hidden" name="page"       th:value="${results.number > 0 ? results.number - 1 : 0}">-->
<!--                <button class="btn btn-outline-primary btn-sm" type="submit" th:disabled="${results.first}" >Anterior</button>-->
<!--            </form>-->

<!--            &lt;!&ndash; siguiente &ndash;&gt;-->
<!--            <form method="get" th:action="@{/employee/buscar}" class="m-0">-->
<!--                <input type="hidden" name="empNo"      th:value="${empNo}">-->
<!--                <input type="hidden" name="birthDate"  th:value="${birthDate}">-->
<!--                <input type="hidden" name="firstName"  th:value="${firstName}">-->
<!--                <input type="hidden" name="lastName"   th:value="${lastName}">-->
<!--                <input type="hidden" name="gender"     th:value="${gender}">-->
<!--                <input type="hidden" name="hireDate"   th:value="${hireDate}">-->
<!--                <input type="hidden" name="deptNo"     th:value="${deptNo}">-->
<!--                <input type="hidden" name="fromDate"   th:value="${fromDate}">-->
<!--                <input type="hidden" name="toDate"     th:value="${toDate}">-->
<!--                <input type="hidden" name="size"       th:value="${size}">-->
<!--                <input type="hidden" name="page"       th:value="${results.number + 1}">-->
<!--                <button class="btn btn-outline-primary btn-sm" type="submit" th:disabled="${results.last}" >Siguiente</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; tablas &ndash;&gt;-->
<!--    <table class="table table-sm table-striped align-middle">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>N° Empleado</th>-->
<!--            <th>Nombre</th>-->
<!--            <th>Apellido</th>-->
<!--            <th>Género</th>-->
<!--            <th>Nacimiento</th>-->
<!--            <th>Contratacion</th>-->
<!--            <th>Departamento</th>-->
<!--            <th>From</th>-->
<!--            <th>To</th>-->
<!--            <th>Acciones</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="item : ${results.content}">-->
<!--            <td th:text="${item.empNo}"></td>-->
<!--            <td th:text="${item.firstName}"></td>-->
<!--            <td th:text="${item.lastName}"></td>-->
<!--            <td th:text="${item.gender}"></td>-->
<!--            <td th:text="${item.birthDate}"></td>-->
<!--            <td th:text="${item.hireDate}"></td>-->
<!--            <td th:text="${item.deptNo}"></td>-->
<!--            <td th:text="${item.fromDate}"></td>-->
<!--            <td th:text="${item.toDate}"></td>-->
<!--            <td class="text-center">-->
<!--                <div class="d-flex justify-content-center gap-2">-->
<!--                    <a th:href="@{/employee/editar/{empNo}(empNo=${item.empNo})}" class="btn btn-warning btn-sm">-->
<!--                        Editar-->
<!--                    </a>-->
<!--                    <div sec:authorize="hasRole('ADMIN')">-->
<!--                        <form th:action="@{/employee/eliminar/{empNo}(empNo=${item.empNo})}"-->
<!--                              method="post"-->
<!--                              class="m-0"-->
<!--                              onsubmit="return confirm('¿Seguro que quiere eliminar este empleado?')">-->
<!--                            <button type="submit" class="btn btn-danger btn-sm">-->
<!--                                Eliminar-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>  &lt;!&ndash; 𝕗𝕚𝕟 𝕕𝕖𝕝 𝕕𝕚𝕧 &ndash;&gt;-->
<!--&lt;!&ndash; sin conexion &ndash;&gt;-->
<!--<div class="modal fade" id="sinInternetModal" tabindex="-1" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-dialog-centered">-->
<!--        <div class="modal-content border-0 shadow">-->
<!--            <div class="modal-header bg-danger text-white">-->
<!--                <h5 class="modal-title">Sin conexión</h5>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                Parece que no tienes conexión a internet.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--<script>-->
<!--    const modalInternet = new bootstrap.Modal(document.getElementById('sinInternetModal'));-->

<!--    function verificarConexion() {-->
<!--        if (!navigator.onLine) {-->
<!--            modalInternet.show();-->
<!--        }-->
<!--    }-->

<!--    window.addEventListener('offline', () => {-->
<!--        modalInternet.show();-->
<!--    });-->

<!--    window.addEventListener('online', () => {-->
<!--        modalInternet.hide();-->
<!--    });-->

<!--    verificarConexion();-->
<!--</script>-->
<!--<script th:src="@{/logo.js}"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>-->
<!--</html>-->